@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ubuntu), sans-serif;
}

/* .marquee {
  overflow: hidden;
  white-space: nowrap;
  max-width: 500px;
} */
/* 
.marquee span {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
  background: linear-gradient(
    180deg,
    #F3DFA3 0%,
    #CAA972 42.9%,
    #F6EAC5 65.38%,
    #F8DCA4 100%
  );


  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
} */

.bg_img {
  /* background-image: url('../public/images/Add-a-subheading_back.png'); */
  /* background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat; */
  background: #24083399;
  border: 2px solid #24083399;
  border-radius: 100px;
  transition: 0.5s all ease-in-out;
}
.bg_img:hover {
  border: 2px solid #bc13fe;
  background-color: #64008b;
}
.marquee-container {
  width: 100%;
  overflow: hidden;
  padding: 12px 0;
}

.my-marquee .swiper-wrapper {
  transition-timing-function: linear !important;
}

.marquee-text, h1 label, .typeText {
  font-size: 22px;
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: 1px;
  background: linear-gradient(
    180deg,
    #f3dfa3 0%,
    #caa972 42.9%,
    #f6eac5 65.38%,
    #f8dca4 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.typeText {
  text-transform: capitalize;
}

.swiper.multiSlide {
    padding-top: 80px;
}

.multiSlide .swiper-button-next {
  background-image: url("/images/arrowright.svg");
  width: 80px;
  height: 67px;
  background-size: 80px 67px;
  background-position: center center;
  top: 30px !important;
  background-repeat: no-repeat;
}
.multiSlide .swiper-button-prev {
  background-image: url("/images/arrowleft.svg");
  width: 80px;
  height: 67px;
  background-size: 80px 67px;
  background-position: center center;
  top: 30px !important;
  left: auto !important;
  right: 90px !important;
  background-repeat: no-repeat;
}
.multiSlide .swiper-button-next svg,
.multiSlide .swiper-button-prev svg {
  display: none;
}

.gridSlider .swiper-wrapper {
  flex-direction: row !important;
  flex-wrap: wrap !important;
}
.gridSlider .swiper-wrapper .swiper-slide {
    margin-top: 0px !important;
    margin-bottom: 25px;
}
.swiper-button-lock {
  display: block !important;
}
.btn_include .multiSlide .swiper-button-next {
    right: 107px;
}
.btn_include .multiSlide  .swiper-button-prev {
    right: 200px !important;
}
.title_wrapper h2 {
  border-radius: 0 20px 20px 0;
  transition: 0.5s all ease-in-out;
}
.title_wrapper h2:hover {
    background: #64008b;
}

.swiper.multiSlide .swiper-wrapper {
    height: auto !important;
}

@media only screen and (max-width: 1475px) {
  .marquee-container .swiper .swiper-slide {
    margin-right: 15px !important;
  }
}
@media only screen and (max-width: 1375px) {
header.header {
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.search-wrapper {
    max-width: calc(100% - 20px);
}
.marquee-container {
    max-width: 100%;
}
}
@media only screen and (max-width: 1199px) {
  a.logosite img {
      min-width: 75px;
  }
  .marquee-text {
    letter-spacing: normal;
    font-size: 16px;
  }
}
@media only screen and (max-width: 1023px) {
  header.header .topheader {
    background:rgba(100, 0, 139,0.5) !important;
    padding: 10px;
  }
  header.header {
    padding: 0px 10px 10px 0;
  }
  header.header input {
    background: transparent !important;
    border: 1px solid #787878 !important;
  }
}
@media only screen and (max-width: 767px) {
  header a.logosite img {
    min-width: 75px;
  }
  header.header {
    height: auto;
  }
  .marquee-container .swiper .swiper-slide {
    margin-right: 15px !important;
  }
  .swiper-slide span {
    font-size: 12px;
  }
  .multiSlide .swiper-button-next, .multiSlide .swiper-button-prev {
    background-size: 50px 37px;
    width: 50px;
    height: 37px;
    top: 40px !important;
  }
  .multiSlide .swiper-button-prev {
    right: 60px !important;
  }
  .swiper.multiSlide {
    padding-top: 50px;
  }
  .btn_include .multiSlide .swiper-button-prev {
    right: 118px !important;
  }
  .btn_include .multiSlide .swiper-button-next {
    right: 65px;
  }
  footer.footer {
    padding-bottom: 100px;
  }
}
@media only screen and (max-width: 480px) {
  .title_wrapper {
      position: relative !important;
  }
  a.seeAll_btn {
    position: absolute;
    top: 62px;
  }
  .sliderwrapper {
    margin-bottom: 0px !important;
  }
  .socialMenu {
    top: 365px !important;
  }
  .socialMenu  ul li a {
    width: 55px;
    height: 50px;
  }
}